{% extends "parent.html" %}
{% block content %}

<form id="exchange_form" action="{{url_for('exchange')}}" method = "POST">
    <label for="currency">Wybierz walutę</label>
    <select class="input" id="currency" name="currency">
        {% for currency in offer %}
            <option value="{{currency.code}}">{{currency.currency}}</option>
        {% endfor %}
    </select><br>
    <label for="amount">Podaj ilość</label>
    <input class="input" type = 'text' id="amount" name="amount" value ="..."><br>
    <input type="submit" value="Przelicz">
</form>
{% endblock %}